@import url(fonts.css);
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  border-bottom-width: 1px;
  border-bottom-style: dotted; }

#header {
  padding: 50px 30px;
  background-color: #e6ebef; }
  #header img {
    max-width: 600px;
    width: 70%; }

#info {
  background: url("/static/img/college-green.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #info > div {
    padding: 50px 20px; }

#date-box {
  background-color: rgba(255, 255, 255, 0.8); }
  #date-box h2, #date-box p {
    width: 50%;
    margin: 0 auto; }
  #date-box h2 {
    border-top: 3px dotted #32505a;
    padding: 15px 5px 10px;
    font-family: "Duke Regular", Helvetica, Arial, sans-serif;
    font-size: 72px;
    color: #cb6c8c; }
  #date-box p {
    border-bottom: 3px dotted #32505a;
    padding: 10px 5px 15px;
    font-size: 24px;
    color: #32505a;
    line-height: 1.5;
    font-weight: 200; }
    #date-box p span {
      display: block; }

#steps-box {
  background-color: rgba(50, 80, 90, 0.8);
  color: #fff;
  padding-bottom: 10px !important; }
  #steps-box h2 {
    font-size: 30px;
    margin-bottom: 20px; }
  #steps-box #steps {
    overflow: hidden; }
    #steps-box #steps .step {
      float: left;
      width: 31%;
      margin-right: 3.5%; }
      #steps-box #steps .step:last-child {
        margin-right: 0; }
      #steps-box #steps .step h3 {
        font: 80px "Duke Regular", Helvetica, Arial, sans-serif;
        background: transparent url("/static/img/circle.png") center 110% no-repeat;
        background-size: 50px;
        line-height: 1.8;
        background-position: 50% 80%; }
      #steps-box #steps .step p {
        margin-top: -20px;
        font-size: 20px; }
  #steps-box #more-info-box {
    margin-top: 30px; }
    #steps-box #more-info-box span {
      font-size: 80%; }
    #steps-box #more-info-box a {
      color: #efc85d; }

#about {
  display: none;
  background-color: beige;
  position: relative;
  -webkit-transition: none; }
  #about div {
    height: 100%;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto; }
  #about p {
    margin-bottom: 1em;
    font-size: 16px;
    line-height: 1.4;
    text-transform: none;
    text-align: left; }
  #about a {
    color: #32505a; }

#pledge {
  background-color: #efc85d;
  color: #32505a;
  padding: 50px 10px; }
  #pledge #side1 {
    text-align: left; }
  #pledge #side2 {
    text-align: center;
    display: none; }
    #pledge #side2 > p {
      margin-top: 15px; }
  #pledge #tell-me-more {
    width: 80%;
    margin: auto; }
    #pledge #tell-me-more p {
      font-size: 18px; }
    #pledge #tell-me-more p a {
      display: block;
      text-align: left;
      padding-left: 50px;
      background: transparent url("/static/img/coffeeCup.png") no-repeat 0% 5px;
      background-size: 40px 40px;
      line-height: 1.3; }
      #pledge #tell-me-more p a:hover span {
        border-bottom: 1px dotted #32505a; }
    #pledge #tell-me-more .post-submit {
      display: none; }
  #pledge form {
    background-color: #f5efda;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 40px 7%; }
    #pledge form h2 {
      font: 80px/1 "Duke Regular", Helvetica, Arial, sans-serif;
      margin-bottom: 20px; }
    #pledge form p {
      line-height: 1.7;
      font-size: 24px;
      text-transform: none; }
    #pledge form input[type="text"], #pledge form input[type="email"] {
      background-color: transparent;
      border: 3px dotted #32505a;
      border-width: 0 0 1px 0;
      font-size: 20px;
      line-height: inherit;
      padding: 0 10px;
      color: inherit; }
      #pledge form input[type="text"]:focus, #pledge form input[type="email"]:focus {
        outline: none; }
    #pledge form #name-field {
      width: 12em; }
    #pledge form #email-field {
      width: 14em; }
    #pledge form #submit {
      text-align: right; }
      #pledge form #submit input[type="submit"] {
        background-color: #94b8c4;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        cursor: not-allowed;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        #pledge form #submit input[type="submit"].ready {
          cursor: pointer;
          background-color: #32505a; }

#footer {
  background-color: #32505a;
  color: #fff;
  text-align: center;
  width: 80%;
  padding: 10px 10%;
  font-size: 18px; }
  #footer p {
    margin-top: 50px;
    font-size: 12px;
    color: #ddd; }

#social div {
  width: 200px;
  text-align: center;
  display: inline; }
#social #twitter-opt {
  position: relative;
  top: 5px; }

@media (max-width: 600px) {
  #date-box h2, #date-box p {
    width: 100%; }

  #steps-box #steps .step {
    float: none;
    width: 70%;
    margin: 0 auto; }
    #steps-box #steps .step:last-child {
      margin-right: auto; }

  #pledge form h2 {
    font-size: 50px; }
  #pledge form p, #pledge form input[type="text"], #pledge form input[type="email"] {
    font-size: 16px; } }
