<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Penn [Dis]Connects: Connect with friends and disconnect from technology on April 20, 2013</title>
    
<meta name="description" content="A day to connect with friends and disconnect from technology on April 20, 2013">
<meta name="viewport" content="width=device-width">

<!-- Google Web Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/main.css">

</head>



<body>

<div id="main">
  <header id="header"><h1>
      <img src="/static/img/logo.png" title="Penn [Dis]Connects"/>
  </h1></header>

  <section id="info">
    <div id="date-box">
      <h2 id="date">Saturday April&nbsp;20</h2>
      <p id="tagline">
        <span>A day to connect with friends and </span>
        <span>disconnect from technology.</span>
      </p>
    </div><!--/info-->

    <div id="steps-box">
      <h2>It&rsquo;s really simple:</h2>
      <div id="steps">
        <div class="step">
          <h3>1</h3>
          <p>Get together with a group of friends</p>
        </div>
        <div class="step">
          <h3>2</h3>
          <p>Pledge to turn off your phones and computer on Saturday, April 20th</p>
        </div>
        <div class="step">
          <h3>3</h3>
          <p>Spend the daywith your friends, technology-free</p>
        </div>
      </div><!--/steps-->
    </div><!--/steps-box-->
  </section><!--/info-->

  <section id="pledge">
    <form action="/submit" method="POST" id="interest-form">
      <div id="side1">
        <h2>The Pledge</h2>
        <p id="pledge-copy">
          My name is <input id="name-field" name="name" required type="text"/>
          and my email is <input id="email-field" name="email" required type="email"/>.
          I commit to turn off my phone and computer on Saturday, April 20th, and spend the time
          fully present with a group of friends.
        </p>
        <div id="submit">
          <input id="pledge-submit" type="submit" value="Pledge"/>
        </div>
      </div>
      <div id="side2">
        <h2>Great! We&rsquo;re really excited</h2>
        <div id="tell-me-more">
          <p>
            <a href="#"><span>
                I&rsquo;m excited too! I might want to lead a larger group or be more involved.
                Let&rsquo;s get coffee (our treat)!
            </span></a>
            <span class="post-submit">Wonderful news! We&rsquo;ll be in touch shortly.</span>
          </p>
        </div><!--/tell-me-more-->
        <p><strong>Now shout it from the rooftops!</strong></p>
      </div><!--/side2-->
    </form>
  </section><!--/pledge-->
  <footer id="footer">
    <div>Spread the word:</div>
    <div id="fb-opt">
      <fb:like href="http://penndisconnects.com/"
               send="true"
               layout="button_count"
               width="450"
               show_faces="true"></fb:like>
    </div>
    <div id="twitter-opt">
      <div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="small"
         data-text="Join me in pledging to connect with friends and disconnect from technology on 
                    Sat April 20."
         data-via="penndisconnects" data-hashtags="penndisconnects">
        Tweet
      </a>
      </div>
    </div>
    <p>An <a href="https://twitter.com/aarowilso">@aarowilso</a>, <a href="https://twitter.com/elankiderman">@elankiderman</a>, <a href="https://twitter.com/joycekim77">@joycekim77</a>, <a href="https://twitter.com/KelseyMatevish">@kelseymatevish</a>, and <a href="https://twitter.com/kylehardgrave">@kylehardgrave</a> production.</p>
  </footer><!--/footer-->
</div><!--/main-->




<!-- JavaScripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/static/js/jquery-1.9.1.min.js"><\/script>');
</script>
<script src="/static/js/main.js"></script>



<!-- FB SDK: Possibly change app ID -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=284669488212521";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39570716-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
