@import "fonts.css";

$header-font-family: "Duke Regular", Helvetica, Arial, sans-serif;
$blue: rgb(50, 80, 90);
$logo-gray: rgb(176, 188, 193);
$semi-opaque: rgba(0, 0, 0, 0.2);
$dot-border: 2px dotted $blue;

body {
  font-family: Futura, "Open Sans", Helvetica, Arial, sans-serif;
}

#header {
  text-align: center;
  padding: 20px 30px;
  background-color: $logo-gray;
}

#lead {
  padding: 20px;

  h2, p {
    width: 60%;
    margin: 0 auto;
  }

  h2 {
    border-top: $dot-border;
    padding: 15px 5px 10px;
    font-family: $header-font-family;
    font-size: 36px;
    text-transform: uppercase;
  }
  p {
    border-bottom: $dot-border;
    padding: 10px 5px 15px;
  }
}